.counter {
    min-height: 400px;
    background-position: 0px 0px, 50% 50%;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
    background-attachment:fixed;
    padding: 150px;
}
.counter .card-box{
    background-color: transparent;
    border: none;
    text-align: center;
}
.counter .card-box h1{
    font-size: 60px;
    font-weight: 700;
    color: white;
}

.counter .card-box p{
    color: white;
    font-weight: 600;
    font-size: 19px;
}