<section class="detail">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4 col-12">
                        <div class="card">
                            <div class="box">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                            </div>
                            <h5>Call Us</h5>
                            <p>+91 9754216588</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-12">
                        <div class="card">
                            <div class="box">
                                <i class="fa fa-commenting" aria-hidden="true"></i>
                            </div>
                            <h5>Chat Live</h5>
                            <p>We are avilable Monday-Friday</p>
                            <button class="btn btn-success btn-sm"> Chat Now</button>
                        </div>
                    </div>
                    <div class="col-md-4 col-12">
                        <div class="card">
                            <div class="box">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            </div>
                            <h5>Email Us</h5>
                            <p>Unknown@gmail.com</p>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>